<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<div class="button">
		<button type="button" onclick="location.href='/'">上週輸入</button>
		<button type="button" onclick="location.href='/'">全部範圍</button>
		<button type="button" onclick="location.href='/create/'">加入單字</button>
	</div>

	<form action="." method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<!--
		<input type="text" name="vocab" id="name" placeholder="單字">
		<input type="text" name="meaning" id="msg" placeholder="意思">
		-->
		<input type="submit" />
	</form>

<table class="table table-bordered">
	<thead class="alert-warning">
		<tr>
			<th>Vocabulary</th>
			<th>Meaning</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{% for vocabulary in vocabularies %}
		<tr>
			<td>{{ vocabulary.vocab }}</td>
			<td>{{ vocabulary.meaning }}</td>
			<td><center><a class="btn btn-sm btn-warning" href="/edit/{{ vocabulary.id }}"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a class="btn btn-sm btn-danger" href="/delete/{{ vocabulary.id }}"><span class="glyphicon glyphicon-trash"></span> Delete</a></center></td>
		</tr>
		{% endfor %}
	</tbody>
</table>

</body>
</html>